.auth-card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    min-height: 70vh; /* Set minimum height to 70% of the viewport height */
    position: relative; /* Enable positioning context */
  }
  .auth-form {
    position: absolute;
    bottom: 10% !important; 
    left: 0; 
    width: 100%; 
  }